/* base styles */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* chat styles */
.chat {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 200px auto;
  grid-template-columns: 200px auto;
  -ms-grid-rows: 50px auto 100px;
  grid-template-rows: 50px auto 100px;
}
.chat > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.chat > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.chat > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.chat > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.chat > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.chat > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.chat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-color: aqua;
}

.chat__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat__action {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  padding: 7px;
  white-space: nowrap;
}

.chat__contacts {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  overflow-y: scroll;
}

.chat__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chat__contact {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 30px;
  padding: 5px 10px;
  line-height: 30px;
  background-color: bisque;
  color: black;
  text-decoration: none;
  -webkit-transition: background 200ms ease;
  -o-transition: background 200ms ease;
  transition: background 200ms ease;
}

.chat__contact:hover {
  background-color: lightsalmon;
}

.chat__messages {
  background-color: cadetblue;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  overflow-y: scroll;
}

.chat__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: lightcyan;
}

.chat__message-ava {
  max-height: 80px;
  margin-right: 20px;
}

.chat__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding: 10px;
  background-color: coral;
}

.chat__message-input {
  width: 100%;
  min-height: 40px;
  font-size: 20px;
  line-height: 24px;
}
